Stackset-Engine.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: >-
  CloudFormation stackset clean up. Targets only suspended instances in stacksets,
  skips non existing accounts in the org, skips active accounts. for all details, please refer to https://github.com/aws-samples/sample-CloudFormation-Stacksets-Cleanup

Parameters:
  DestinationBucket:
    Type: String
    Description: Existing S3 bucket name where scan and execution CSV results will be written.
    AllowedPattern: '^[a-z0-9][a-z0-9.-]{1,61}[a-z0-9]$'

  StackSetsToScan:
    Type: String
    Default: ''
    Description: Optional comma separated list of StackSet names to scan. Leave empty to scan all ACTIVE StackSets in this Region.

  ExistingCleanupCSV:
    Type: String
    Default: ''
    Description: Optional S3 URL to the CSV generated by scanning mode. Required when Mode is ExecutionMode.
    AllowedPattern: '^$|^(s3://|https://).+'

  Mode:
    Type: String
    Default: ScanningMode
    AllowedValues:
      - ScanningMode
      - ExecutionMode
    Description: ScanningMode writes a candidate CSV. ExecutionMode reads the CSV and removes StackSet instances for suspended accounts only.

  ResultsKeyPrefix:
    Type: String
    Default: stacksets-cleanup
    Description: Prefix in the destination bucket where results.

  CallAs:
    Type: String
    Default: SELF
    AllowedValues:
      - SELF
      - DELEGATED_ADMIN
    Description: CloudFormation StackSets CallAs value. Use DELEGATED_ADMIN when running from a registered delegated administrator account.

  OperationWaitSeconds:
    Type: Number
    Default: 720
    MinValue: 0
    MaxValue: 840
    Description: Maximum seconds the worker Lambda waits for each DeleteStackInstances operation before recording it as still running.

Rules:
  ExecutionModeRequiresCsv:
    RuleCondition: !Equals [!Ref Mode, ExecutionMode]
    Assertions:
      - Assert: !Not [!Equals [!Ref ExistingCleanupCSV, '']]
        AssertDescription: ExistingCleanupCSV must be provided when Mode is ExecutionMode.

Metadata:
  AWS::CloudFormation::Interface:
    ParameterGroups:
      -
        Label:
          default: "CloudFormation Stackset Clean up Automation"
        Parameters:
          - DestinationBucket
          - ExistingCleanupCSV
          - Mode
          - ResultsKeyPrefix
          - CallAs
          - OperationWaitSeconds
      -
        Label:
          default: "Optional parameters"
        Parameters:
          - StackSetsToScan
    ParameterLabels:
      DestinationBucket:
        default: Existing Bucket To Store All Generated CSV Files
      ExistingCleanupCSV:
        default: Existing CSV File To Be Used By Execution Mode
      Mode:
        default: ScanningMode Will Generate CSV file, ExecustionMode will use Existing CSV provided for ExistingCleanupCSV parameter
      ResultsKeyPrefix:
        default: S3 Prefix to create in the destination bucket that contains results CSV files
      CallAs:
        default: Please set to DELEGATED_ADMIN if the deployment account is a registered delegated admin, and set to SELF if deployment account is the stacksets owner
      OperationWaitSeconds:
        default: Maximum wait period after each DeleteStackInstances operation before recording it as still running in the CSV file
      StackSetsToScan:
        default: A comma separated list of StackSet names to scan, please leave empty to scan all stacksets

Resources:
  WorkerLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /aws/lambda/${AWS::StackName}-worker
      RetentionInDays: 30

  StarterLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /aws/lambda/${AWS::StackName}-starter
      RetentionInDays: 30

  WorkerRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StackSetsCleanupWorkerPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Sid: Logs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: !Sub arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/${AWS::StackName}-worker:*
              - Sid: ReadWriteResultsBucket
                Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:PutObject
                Resource: !Sub arn:${AWS::Partition}:s3:::${DestinationBucket}/*
              - Sid: ListResultsBucket
                Effect: Allow
                Action:
                  - s3:ListBucket
                Resource: !Sub arn:${AWS::Partition}:s3:::${DestinationBucket}
              - Sid: CloudFormationStackSets
                Effect: Allow
                Action:
                  - cloudformation:ListStackSets
                  - cloudformation:DescribeStackSet
                  - cloudformation:ListStackInstances
                  - cloudformation:DeleteStackInstances
                  - cloudformation:DescribeStackSetOperation
                Resource: '*'
              - Sid: OrganizationsDescribeAccount
                Effect: Allow
                Action:
                  - organizations:DescribeAccount
                Resource: '*'

  StarterRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StackSetsCleanupStarterPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Sid: Logs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: !Sub arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/${AWS::StackName}-starter:*
              - Sid: StartStateMachine
                Effect: Allow
                Action:
                  - states:StartExecution
                Resource: !Ref StackSetsCleanupStateMachine

  StateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeWorkerLambda
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource: !GetAtt WorkerFunction.Arn

  WorkerFunction:
    Type: AWS::Lambda::Function
    DependsOn: WorkerLogGroup
    Properties:
      FunctionName: !Sub ${AWS::StackName}-worker
      Runtime: python3.12
      Handler: index.handler
      Role: !GetAtt WorkerRole.Arn
      Timeout: 900
      MemorySize: 512
      Environment:
        Variables:
          OPERATION_WAIT_SECONDS: !Ref OperationWaitSeconds
      Code:
        ZipFile: |
          import boto3
          import csv
          import io
          import json
          import os
          import re
          import time
          import uuid
          import urllib.parse
          from collections import OrderedDict, defaultdict
          from datetime import datetime, timezone
          from botocore.exceptions import ClientError

          s3 = boto3.client('s3')
          cfn = boto3.client('cloudformation')
          org = boto3.client('organizations', region_name='us-east-1')

          SCAN_COLUMNS = [
              'RunId','TimestampUtc','Mode','StackSetName','PermissionModel','StackSetExists',
              'AccountId','AccountExistsInOrg','AccountState','Regions','RegionCount',
              'StackInstanceStatuses','StackInstanceDetailedStatuses','Result','Reason'
          ]

          EXEC_COLUMNS = [
              'RunId','TimestampUtc','Mode','SourceRowNumber','StackSetName','PermissionModel','StackSetExists',
              'AccountId','AccountExistsInOrg','AccountStateAtExecution','RegionsRequested',
              'RegionsConfirmedInStackSet','RegionsDeleted','OperationIds','OperationStatuses',
              'Result','Reason'
          ]

          REQUIRED_EXEC_INPUT_COLUMNS = ['StackSetName', 'AccountId', 'Regions']

          ACCOUNT_RE = re.compile(r'^\d{12}$')

          def handler(event, context):
              print(json.dumps({'received': event}, default=str))
              action = event.get('action')
              if action == 'init':
                  return init_run(event)
              if action == 'process_next':
                  return process_next(event, context)
              raise ValueError(f'Unsupported action: {action}')

          def utc_now():
              return datetime.now(timezone.utc).replace(microsecond=0).isoformat()

          def clean_prefix(prefix):
              cleaned = (prefix or 'stacksets-cleanup').strip().strip('/')
              return cleaned or 'stacksets-cleanup'

          def split_csv_string(value):
              return [x.strip() for x in (value or '').split(',') if x.strip()]

          def pipe(values):
              return '|'.join(sorted(set([v for v in values if v])))

          def callas(call_as):
              return call_as if call_as in ('SELF', 'DELEGATED_ADMIN') else 'SELF'

          def s3_read_text(bucket, key):
              obj = s3.get_object(Bucket=bucket, Key=key)
              return obj['Body'].read().decode('utf-8-sig')

          def s3_write_text(bucket, key, text, content_type='text/plain'):
              s3.put_object(Bucket=bucket, Key=key, Body=text.encode('utf-8'), ContentType=content_type)

          def s3_write_json(bucket, key, data):
              s3_write_text(bucket, key, json.dumps(data, indent=2, sort_keys=True), 'application/json')

          def s3_read_json(bucket, key):
              return json.loads(s3_read_text(bucket, key))

          def append_csv_rows(bucket, key, columns, rows):
              try:
                  existing = s3_read_text(bucket, key)
              except ClientError as e:
                  if e.response.get('Error', {}).get('Code') in ('NoSuchKey', '404'):
                      existing = ''
                  else:
                      raise
              buf = io.StringIO()
              if existing:
                  buf.write(existing)
                  if not existing.endswith('\n'):
                      buf.write('\n')
                  writer = csv.DictWriter(buf, fieldnames=columns, extrasaction='ignore')
              else:
                  writer = csv.DictWriter(buf, fieldnames=columns, extrasaction='ignore')
                  writer.writeheader()
              for row in rows:
                  writer.writerow(row)
              s3_write_text(bucket, key, buf.getvalue(), 'text/csv')

          def parse_s3_url(url):
              if not url:
                  raise ValueError('S3 URL is empty')
              if url.startswith('s3://'):
                  stripped = url[5:]
                  bucket, _, key = stripped.partition('/')
                  if not bucket or not key:
                      raise ValueError(f'Invalid S3 URL: {url}')
                  return bucket, urllib.parse.unquote(key)
              parsed = urllib.parse.urlparse(url)
              if parsed.scheme not in ('http', 'https'):
                  raise ValueError(f'Unsupported URL scheme: {url}')
              host = parsed.netloc
              path = parsed.path.lstrip('/')
              if host.startswith('s3.') or host.startswith('s3-') or host == 's3.amazonaws.com':
                  bucket, _, key = path.partition('/')
              else:
                  marker = host.find('.s3')
                  bucket = host[:marker] if marker > 0 else host.split('.')[0]
                  key = path
              if not bucket or not key:
                  raise ValueError(f'Could not parse bucket and key from URL: {url}')
              return bucket, urllib.parse.unquote(key)

          def row_value(row, *names):
              lower_map = {str(k).lower(): v for k, v in row.items()}
              for name in names:
                  if name in row and row[name] is not None:
                      return str(row[name]).strip()
                  val = lower_map.get(name.lower())
                  if val is not None:
                      return str(val).strip()
              return ''

          def parse_regions(value):
              if not value:
                  return []
              normalized = value.replace(';', '|').replace(',', '|')
              return sorted(set([x.strip() for x in normalized.split('|') if x.strip()]))

          def init_run(event):
              mode = event['mode']
              bucket = event['destinationBucket']
              prefix = clean_prefix(event.get('resultsKeyPrefix'))
              run_id = event.get('runId') or datetime.now(timezone.utc).strftime('%Y%m%dT%H%M%SZ') + '-' + str(uuid.uuid4())[:8]
              call_as = callas(event.get('callAs'))
              base = f'{prefix}/{run_id}'
              common = {
                  'action': 'process_next',
                  'mode': mode,
                  'runId': run_id,
                  'destinationBucket': bucket,
                  'resultsKeyPrefix': prefix,
                  'callAs': call_as,
                  'index': 0,
              }
              if mode == 'ScanningMode':
                  names = split_csv_string(event.get('stackSetsToScan')) or list_active_stacksets(call_as)
                  work = [{'StackSetName': name} for name in names]
                  output_key = f'{base}/scan-results.csv'
                  append_csv_rows(bucket, output_key, SCAN_COLUMNS, [])
                  common.update({
                      'workKey': f'{base}/work-scan.json',
                      'outputKey': output_key,
                      'total': len(work),
                      'hasNext': len(work) > 0,
                  })
              elif mode == 'ExecutionMode':
                  csv_url = event.get('ExistingCleanupCSV')
                  source_bucket, source_key = parse_s3_url(csv_url)
                  work = build_execution_work(source_bucket, source_key)
                  output_key = f'{base}/execution-results.csv'
                  append_csv_rows(bucket, output_key, EXEC_COLUMNS, [])
                  common.update({
                      'workKey': f'{base}/work-execution.json',
                      'sourceCsvUrl': csv_url,
                      'outputKey': output_key,
                      'total': len(work),
                      'hasNext': len(work) > 0,
                  })
              else:
                  raise ValueError(f'Invalid mode: {mode}')
              s3_write_json(bucket, common['workKey'], work)
              print(json.dumps({'runId': run_id, 'mode': mode, 'totalWorkItems': len(work), 'outputKey': output_key}))
              return common

          def process_next(state, context):
              bucket = state['destinationBucket']
              work = s3_read_json(bucket, state['workKey'])
              index = int(state.get('index', 0))
              total = int(state.get('total', len(work)))
              if index >= total:
                  state['hasNext'] = False
                  return state
              item = work[index]
              if state['mode'] == 'ScanningMode':
                  rows = scan_stackset(item['StackSetName'], state)
                  append_csv_rows(bucket, state['outputKey'], SCAN_COLUMNS, rows)
              elif state['mode'] == 'ExecutionMode':
                  rows = execute_stackset(item, state, context)
                  append_csv_rows(bucket, state['outputKey'], EXEC_COLUMNS, rows)
              else:
                  raise ValueError(f"Invalid mode: {state['mode']}")
              index += 1
              state['index'] = index
              state['hasNext'] = index < total
              state['lastProcessedStackSet'] = item.get('StackSetName')
              state['lastProcessedTimestampUtc'] = utc_now()
              return state

          def list_active_stacksets(call_as):
              names = []
              paginator = cfn.get_paginator('list_stack_sets')
              for page in paginator.paginate(Status='ACTIVE', CallAs=call_as):
                  for summary in page.get('Summaries', []):
                      name = summary.get('StackSetName')
                      if name:
                          names.append(name)
              return sorted(set(names))

          def describe_stackset(stackset_name, call_as):
              try:
                  response = cfn.describe_stack_set(StackSetName=stackset_name, CallAs=call_as)
                  stackset = response.get('StackSet', {})
                  return True, stackset, ''
              except ClientError as e:
                  code = e.response.get('Error', {}).get('Code', '')
                  if code == 'StackSetNotFound':
                      return False, {}, 'StackSetNotFound'
                  return False, {}, f'{code}: {e.response.get("Error", {}).get("Message", str(e))}'

          def list_stack_instances(stackset_name, call_as):
              summaries = []
              paginator = cfn.get_paginator('list_stack_instances')
              for page in paginator.paginate(StackSetName=stackset_name, CallAs=call_as):
                  summaries.extend(page.get('Summaries', []))
              return summaries

          def account_state(account_id):
              try:
                  account = org.describe_account(AccountId=account_id)['Account']
                  status = account.get('Status') or ''
                  state = account.get('State') or ''
                  if status == 'SUSPENDED' or state == 'CLOSED':
                      resolved = 'SUSPENDED'
                  else:
                      resolved = status or state or 'UNKNOWN'
                  return {'exists': True, 'state': resolved, 'reason': ''}
              except ClientError as e:
                  code = e.response.get('Error', {}).get('Code', '')
                  message = e.response.get('Error', {}).get('Message', str(e))
                  if code == 'AccountNotFoundException':
                      return {'exists': False, 'state': 'NOT_FOUND', 'reason': message}
                  return {'exists': False, 'state': 'LOOKUP_FAILED', 'reason': f'{code}: {message}'}

          def summarize_instances(summaries):
              by_account = defaultdict(lambda: {'regions': set(), 'statuses': {}, 'detailed': {}})
              for summary in summaries:
                  account = summary.get('Account')
                  region = summary.get('Region')
                  if not account or not region:
                      continue
                  by_account[account]['regions'].add(region)
                  by_account[account]['statuses'][region] = summary.get('Status', '')
                  detailed = (summary.get('StackInstanceStatus') or {}).get('DetailedStatus', '')
                  if detailed:
                      by_account[account]['detailed'][region] = detailed
              return by_account

          def scan_stackset(stackset_name, state):
              call_as = state['callAs']
              run_id = state['runId']
              exists, stackset, reason = describe_stackset(stackset_name, call_as)
              permission_model = stackset.get('PermissionModel', '')
              if not exists:
                  return [{
                      'RunId': run_id,
                      'TimestampUtc': utc_now(),
                      'Mode': 'ScanningMode',
                      'StackSetName': stackset_name,
                      'PermissionModel': permission_model,
                      'StackSetExists': 'false',
                      'Result': 'STACKSET_NOT_FOUND',
                      'Reason': reason,
                  }]
              summaries = list_stack_instances(stackset_name, call_as)
              by_account = summarize_instances(summaries)
              rows = []
              for account_id in sorted(by_account.keys()):
                  acct = account_state(account_id)
                  should_write = acct['state'] == 'SUSPENDED' or not acct['exists']
                  if not should_write:
                      continue
                  data = by_account[account_id]
                  result = 'TARGET_SUSPENDED' if acct['state'] == 'SUSPENDED' else 'ACCOUNT_LOOKUP_ISSUE'
                  rows.append({
                      'RunId': run_id,
                      'TimestampUtc': utc_now(),
                      'Mode': 'ScanningMode',
                      'StackSetName': stackset_name,
                      'PermissionModel': permission_model,
                      'StackSetExists': 'true',
                      'AccountId': account_id,
                      'AccountExistsInOrg': str(acct['exists']).lower(),
                      'AccountState': acct['state'],
                      'Regions': pipe(data['regions']),
                      'RegionCount': len(data['regions']),
                      'StackInstanceStatuses': json.dumps(data['statuses'], sort_keys=True),
                      'StackInstanceDetailedStatuses': json.dumps(data['detailed'], sort_keys=True),
                      'Result': result,
                      'Reason': acct['reason'],
                  })
              if not rows:
                  rows.append({
                      'RunId': run_id,
                      'TimestampUtc': utc_now(),
                      'Mode': 'ScanningMode',
                      'StackSetName': stackset_name,
                      'PermissionModel': permission_model,
                      'StackSetExists': 'true',
                      'Result': 'NO_SUSPENDED_STACK_INSTANCES_FOUND',
                      'Reason': f'Checked {len(by_account)} account target(s) across {len(summaries)} stack instance row(s).',
                  })
              return rows

          def build_execution_work(source_bucket, source_key):
              text = s3_read_text(source_bucket, source_key)
              lines = text.splitlines()

              first_content_index = None
              for idx, line in enumerate(lines):
                  if line.strip():
                      first_content_index = idx
                      break

              if first_content_index is None:
                  message = (
                      'CSV header is missing. The input file is empty or contains only blank lines. '
                      'ExecutionMode will not process this file to avoid data confusion.'
                  )
                  print(message)
                  raise ValueError(message)

              csv_text = '\n'.join(lines[first_content_index:])
              header = next(csv.reader(io.StringIO(lines[first_content_index])), [])
              normalized_header = [str(col or '').strip().lstrip('\ufeff') for col in header]
              lower_header = {col.lower() for col in normalized_header if col}

              missing = [col for col in REQUIRED_EXEC_INPUT_COLUMNS if col.lower() not in lower_header]
              if missing:
                  message = (
                      'CSV header is missing required column(s): '
                      + ', '.join(missing)
                      + '. Required columns are: '
                      + ', '.join(REQUIRED_EXEC_INPUT_COLUMNS)
                      + '. ExecutionMode will not process this file to avoid data confusion.'
                  )
                  print(message)
                  raise ValueError(message)

              reader = csv.DictReader(io.StringIO(csv_text))
              grouped = OrderedDict()
              data_rows_seen = 0
              validation_only_accounts = []

              def normalized_row(raw_row):
                  return {
                      str(key or '').strip().lstrip('\ufeff'): value
                      for key, value in raw_row.items()
                      if key is not None
                  }

              def row_is_blank(row):
                  return all(str(value or '').strip() == '' for value in row.values())

              for offset, raw_row in enumerate(reader, start=2):
                  row = normalized_row(raw_row)
                  if row_is_blank(row):
                      continue
                  data_rows_seen += 1
                  source_row_number = first_content_index + offset
                  stackset = row_value(row, 'StackSetName', 'StackSet', 'stackset_name')
                  account = row_value(row, 'AccountId', 'Account', 'account_id')
                  raw_regions = row_value(row, 'Regions', 'RegionsRequested', 'RegionsConfirmedInStackSet', 'Region')
                  regions = parse_regions(raw_regions)

                  validation_errors = []
                  if not stackset:
                      validation_errors.append('StackSetName is missing')
                  if not account:
                      validation_errors.append('AccountId is missing')
                  elif not ACCOUNT_RE.match(account):
                      validation_errors.append(f'AccountId is invalid: {account}. Expected a 12 digit AWS account ID.')
                  if not raw_regions.strip():
                      validation_errors.append('Regions is missing. Provide one or more Regions from the scan CSV.')

                  if validation_errors:
                      entry = {
                          'StackSetName': stackset,
                          'AccountId': account,
                          'Regions': regions,
                          'SourceRowNumber': str(source_row_number),
                          'InputValidationError': '; '.join(validation_errors),
                      }
                      if stackset:
                          key = (stackset, f'__invalid_row_{source_row_number}')
                          grouped[key] = entry
                      else:
                          validation_only_accounts.append(entry)
                      continue

                  key = (stackset, account)
                  if key not in grouped:
                      grouped[key] = {
                          'StackSetName': stackset,
                          'AccountId': account,
                          'Regions': set(),
                          'SourceRowNumbers': set(),
                      }
                  grouped[key]['SourceRowNumbers'].add(str(source_row_number))
                  for region in regions:
                      grouped[key]['Regions'].add(region)

              if data_rows_seen == 0:
                  print('Execution CSV has a valid header but no data rows. No cleanup actions will be attempted.')

              by_stackset = OrderedDict()
              for entry in grouped.values():
                  stackset = entry['StackSetName']
                  if stackset not in by_stackset:
                      by_stackset[stackset] = {'StackSetName': stackset, 'Accounts': []}
                  account_entry = {
                      'AccountId': entry.get('AccountId', ''),
                      'Regions': sorted(entry.get('Regions', [])),
                      'SourceRowNumber': pipe(entry.get('SourceRowNumbers', set())) if entry.get('SourceRowNumbers') else entry.get('SourceRowNumber', ''),
                  }
                  if entry.get('InputValidationError'):
                      account_entry['InputValidationError'] = entry['InputValidationError']
                  by_stackset[stackset]['Accounts'].append(account_entry)

              work = []
              if validation_only_accounts:
                  work.append({
                      'ValidationOnly': True,
                      'StackSetName': 'CSV_INPUT_VALIDATION_ERROR',
                      'Accounts': validation_only_accounts,
                  })
              work.extend(by_stackset.values())

              for item in work:
                  item['Accounts'] = sorted(item['Accounts'], key=lambda x: (x.get('AccountId') or '', x.get('SourceRowNumber') or ''))
              return work


          def execute_stackset(item, state, context):
              call_as = state['callAs']
              run_id = state['runId']
              stackset_name = item['StackSetName']
              rows = []

              if item.get('ValidationOnly'):
                  for account in item.get('Accounts', []):
                      rows.append(exec_row(
                          run_id,
                          account.get('StackSetName') or '',
                          '',
                          False,
                          account.get('AccountId', ''),
                          False,
                          'INVALID_INPUT',
                          account.get('Regions', []),
                          [],
                          [],
                          [],
                          [],
                          'SKIPPED_INVALID_CSV_ROW',
                          account.get('InputValidationError', 'Invalid CSV row.'),
                          source_row_number=account.get('SourceRowNumber', ''),
                      ))
                  return rows

              exists, stackset, reason = describe_stackset(stackset_name, call_as)
              permission_model = stackset.get('PermissionModel', '')
              if not exists:
                  for account in item.get('Accounts', []):
                      result = 'SKIPPED_INVALID_CSV_ROW' if account.get('InputValidationError') else 'SKIPPED_STACKSET_NOT_FOUND'
                      row_reason = account.get('InputValidationError') or reason
                      if account.get('InputValidationError') and reason:
                          row_reason = f"{account.get('InputValidationError')}; StackSet existence check result: {reason}"
                      rows.append(exec_row(
                          run_id,
                          stackset_name,
                          permission_model,
                          False,
                          account.get('AccountId', ''),
                          False,
                          'INVALID_INPUT' if account.get('InputValidationError') else 'UNKNOWN',
                          account.get('Regions', []),
                          [],
                          [],
                          [],
                          [],
                          result,
                          row_reason,
                          source_row_number=account.get('SourceRowNumber', ''),
                      ))
                  return rows

              try:
                  summaries = list_stack_instances(stackset_name, call_as)
              except ClientError as e:
                  message = e.response.get('Error', {}).get('Message', str(e))
                  for account in item.get('Accounts', []):
                      rows.append(exec_row(
                          run_id,
                          stackset_name,
                          permission_model,
                          True,
                          account.get('AccountId', ''),
                          False,
                          'UNKNOWN',
                          account.get('Regions', []),
                          [],
                          [],
                          [],
                          [],
                          'FAILED_LIST_STACK_INSTANCES',
                          message,
                          source_row_number=account.get('SourceRowNumber', ''),
                      ))
                  return rows

              existing_by_account = summarize_instances(summaries)
              for account in item.get('Accounts', []):
                  account_id = account.get('AccountId', '')
                  source_row_number = account.get('SourceRowNumber', '')
                  requested_regions = sorted(set(account.get('Regions', [])))
                  input_error = account.get('InputValidationError')
                  if input_error:
                      rows.append(exec_row(
                          run_id,
                          stackset_name,
                          permission_model,
                          True,
                          account_id,
                          False,
                          'INVALID_INPUT',
                          requested_regions,
                          [],
                          [],
                          [],
                          [],
                          'SKIPPED_INVALID_CSV_ROW',
                          input_error,
                          source_row_number=source_row_number,
                      ))
                      continue

                  acct = account_state(account_id)
                  existing_regions = sorted(existing_by_account.get(account_id, {'regions': set()})['regions'])
                  confirmed_regions = sorted(set(requested_regions).intersection(existing_regions))

                  if not acct['exists']:
                      rows.append(exec_row(run_id, stackset_name, permission_model, True, account_id, False, acct['state'], requested_regions, confirmed_regions, [], [], [], 'SKIPPED_ACCOUNT_NOT_FOUND_OR_LOOKUP_FAILED', acct['reason'], source_row_number=source_row_number))
                      continue
                  if acct['state'] != 'SUSPENDED':
                      rows.append(exec_row(run_id, stackset_name, permission_model, True, account_id, True, acct['state'], requested_regions, confirmed_regions, [], [], [], 'SKIPPED_ACCOUNT_NOT_SUSPENDED', 'Account exists but is not SUSPENDED at execution time.', source_row_number=source_row_number))
                      continue
                  if not confirmed_regions:
                      rows.append(exec_row(run_id, stackset_name, permission_model, True, account_id, True, acct['state'], requested_regions, confirmed_regions, [], [], [], 'SKIPPED_NO_MATCHING_STACK_INSTANCES', 'No StackSet instance remains for this account in the requested region set.', source_row_number=source_row_number))
                      continue

                  op_ids = []
                  op_statuses = []
                  try:
                      response = delete_instances(stackset_name, permission_model, account_id, confirmed_regions, call_as)
                      op_id = response.get('OperationId', '')
                      op_ids.append(op_id)
                      status, wait_reason = wait_for_operation(stackset_name, op_id, call_as, int(os.environ.get('OPERATION_WAIT_SECONDS', '720')), context)
                      op_statuses.append(status)
                      if status == 'SUCCEEDED':
                          rows.append(exec_row(run_id, stackset_name, permission_model, True, account_id, True, acct['state'], requested_regions, confirmed_regions, confirmed_regions, op_ids, op_statuses, 'CLEANED_RETAINED_STACKS', 'DeleteStackInstances completed with RetainStacks=true.', source_row_number=source_row_number))
                      elif status == 'RUNNING':
                          rows.append(exec_row(run_id, stackset_name, permission_model, True, account_id, True, acct['state'], requested_regions, confirmed_regions, confirmed_regions, op_ids, op_statuses, 'DELETE_SUBMITTED_STILL_RUNNING', wait_reason, source_row_number=source_row_number))
                      else:
                          rows.append(exec_row(run_id, stackset_name, permission_model, True, account_id, True, acct['state'], requested_regions, confirmed_regions, [], op_ids, op_statuses, 'DELETE_OPERATION_NOT_SUCCESSFUL', wait_reason, source_row_number=source_row_number))
                  except ClientError as e:
                      code = e.response.get('Error', {}).get('Code', '')
                      message = e.response.get('Error', {}).get('Message', str(e))
                      rows.append(exec_row(run_id, stackset_name, permission_model, True, account_id, True, acct['state'], requested_regions, confirmed_regions, [], op_ids, op_statuses, f'FAILED_{code}', message, source_row_number=source_row_number))
                  except Exception as e:
                      rows.append(exec_row(run_id, stackset_name, permission_model, True, account_id, True, acct['state'], requested_regions, confirmed_regions, [], op_ids, op_statuses, 'FAILED_EXCEPTION', str(e), source_row_number=source_row_number))
              return rows


          def delete_instances(stackset_name, permission_model, account_id, regions, call_as):
              params = {
                  'StackSetName': stackset_name,
                  'Regions': regions,
                  'RetainStacks': True,
                  'CallAs': call_as,
                  'OperationId': 'cleanup-' + str(uuid.uuid4()),
              }
              if permission_model == 'SERVICE_MANAGED':
                  params['DeploymentTargets'] = {'Accounts': [account_id]}
              else:
                  params['Accounts'] = [account_id]
              backoff = 10
              for attempt in range(6):
                  try:
                      return cfn.delete_stack_instances(**params)
                  except ClientError as e:
                      code = e.response.get('Error', {}).get('Code', '')
                      if code in ('OperationInProgress', 'StaleRequest') and attempt < 5:
                          time.sleep(backoff)
                          backoff = min(backoff * 2, 60)
                          continue
                      raise

          def wait_for_operation(stackset_name, operation_id, call_as, max_wait_seconds, context):
              if not operation_id:
                  return 'UNKNOWN', 'No OperationId was returned.'
              deadline = time.time() + max_wait_seconds
              final_states = {'SUCCEEDED', 'FAILED', 'STOPPED'}
              while True:
                  response = cfn.describe_stack_set_operation(StackSetName=stackset_name, OperationId=operation_id, CallAs=call_as)
                  operation = response.get('StackSetOperation', {})
                  status = operation.get('Status', 'UNKNOWN')
                  reason = operation.get('StatusReason', '')
                  if status in final_states:
                      return status, reason or f'Operation ended with {status}.'
                  remaining_lambda_ms = context.get_remaining_time_in_millis() if context else 900000
                  if time.time() >= deadline or remaining_lambda_ms < 30000:
                      return 'RUNNING', f'Operation {operation_id} is still {status}. Last reason: {reason}'
                  time.sleep(15)

          def exec_row(run_id, stackset_name, permission_model, stackset_exists, account_id, account_exists, account_state_value, requested, confirmed, deleted, op_ids, op_statuses, result, reason, source_row_number=''):
              return {
                  'RunId': run_id,
                  'TimestampUtc': utc_now(),
                  'Mode': 'ExecutionMode',
                  'SourceRowNumber': source_row_number,
                  'StackSetName': stackset_name,
                  'PermissionModel': permission_model,
                  'StackSetExists': str(stackset_exists).lower(),
                  'AccountId': account_id,
                  'AccountExistsInOrg': str(account_exists).lower(),
                  'AccountStateAtExecution': account_state_value,
                  'RegionsRequested': pipe(requested),
                  'RegionsConfirmedInStackSet': pipe(confirmed),
                  'RegionsDeleted': pipe(deleted),
                  'OperationIds': pipe(op_ids),
                  'OperationStatuses': pipe(op_statuses),
                  'Result': result,
                  'Reason': reason,
              }

  StarterFunction:
    Type: AWS::Lambda::Function
    DependsOn: StarterLogGroup
    Properties:
      FunctionName: !Sub ${AWS::StackName}-starter
      Runtime: python3.12
      Handler: index.handler
      Role: !GetAtt StarterRole.Arn
      Timeout: 60
      MemorySize: 128
      Code:
        ZipFile: |
          import json
          import time
          import uuid
          import urllib.request
          import urllib.parse
          from datetime import datetime, timezone
          import boto3

          sfn = boto3.client('stepfunctions')

          def clean_prefix(prefix):
              cleaned = (prefix or 'stacksets-cleanup').strip().strip('/')
              return cleaned or 'stacksets-cleanup'

          def send(event, context, status, data=None, reason=None, physical_id=None):
              body = {
                  'Status': status,
                  'Reason': reason or f'See CloudWatch Logs: {context.log_stream_name}',
                  'PhysicalResourceId': physical_id or event.get('PhysicalResourceId') or context.log_stream_name,
                  'StackId': event['StackId'],
                  'RequestId': event['RequestId'],
                  'LogicalResourceId': event['LogicalResourceId'],
                  'NoEcho': False,
                  'Data': data or {},
              }
              encoded = json.dumps(body).encode('utf-8')
              req = urllib.request.Request(event['ResponseURL'], data=encoded, method='PUT')
              req.add_header('content-type', '')
              req.add_header('content-length', str(len(encoded)))
              with urllib.request.urlopen(req) as response:
                  response.read()

          def handler(event, context):
              print(json.dumps(event, default=str))
              physical_id = event.get('PhysicalResourceId') or f"stacksets-cleanup-trigger-{event.get('StackId','stack').split('/')[-1]}"
              try:
                  if event['RequestType'] == 'Delete':
                      send(event, context, 'SUCCESS', {'Message': 'No execution started on Delete.'}, physical_id=physical_id)
                      return
                  props = event['ResourceProperties']
                  mode = props['Mode']
                  list_url = props.get('ExistingCleanupCSV', '')
                  if mode == 'ExecutionMode' and not list_url:
                      raise ValueError('ExistingCleanupCSV is required when Mode is ExecutionMode.')
                  run_id = datetime.now(timezone.utc).strftime('%Y%m%dT%H%M%SZ') + '-' + str(uuid.uuid4())[:8]
                  results_key_prefix = clean_prefix(props.get('ResultsKeyPrefix', 'stacksets-cleanup'))
                  latest_scan_results = ''
                  if mode == 'ScanningMode':
                      scan_results_key = f"{results_key_prefix}/{run_id}/scan-results.csv"
                      encoded_scan_results_key = urllib.parse.quote(scan_results_key, safe='/')
                      latest_scan_results = f"https://{props['DestinationBucket']}.s3.{props['Region']}.{props['UrlSuffix']}/{encoded_scan_results_key}"
                  execution_input = {
                      'action': 'init',
                      'runId': run_id,
                      'mode': mode,
                      'destinationBucket': props['DestinationBucket'],
                      'stackSetsToScan': props.get('StackSetsToScan', ''),
                      'ExistingCleanupCSV': list_url,
                      'resultsKeyPrefix': results_key_prefix,
                      'callAs': props.get('CallAs', 'SELF'),
                      'cloudFormationStackId': event['StackId'],
                      'cloudFormationRequestId': event['RequestId'],
                      'triggeredAtEpoch': int(time.time()),
                  }
                  response = sfn.start_execution(
                      stateMachineArn=props['StateMachineArn'],
                      input=json.dumps(execution_input),
                  )
                  send(event, context, 'SUCCESS', {
                      'ExecutionArn': response['executionArn'],
                      'StartDate': str(response['startDate']),
                      'Mode': mode,
                      'LatestScanResults': latest_scan_results,
                  }, physical_id=physical_id)
              except Exception as e:
                  send(event, context, 'FAILED', {'Error': str(e)}, reason=str(e), physical_id=physical_id)

  StackSetsCleanupStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub ${AWS::StackName}-state-machine
      StateMachineType: STANDARD
      RoleArn: !GetAtt StateMachineRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "Scan or clean suspended-account StackSet instances one StackSet at a time.",
          "StartAt": "InitRun",
          "States": {
            "InitRun": {
              "Type": "Task",
              "Resource": "arn:${AWS::Partition}:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${WorkerFunction.Arn}",
                "Payload.$": "$"
              },
              "OutputPath": "$.Payload",
              "Retry": [
                {
                  "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException", "Lambda.TooManyRequestsException"],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "Next": "HasMoreStackSets"
            },
            "HasMoreStackSets": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.hasNext",
                  "BooleanEquals": true,
                  "Next": "ProcessNextStackSet"
                }
              ],
              "Default": "Done"
            },
            "ProcessNextStackSet": {
              "Type": "Task",
              "Resource": "arn:${AWS::Partition}:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${WorkerFunction.Arn}",
                "Payload.$": "$"
              },
              "OutputPath": "$.Payload",
              "Retry": [
                {
                  "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException", "Lambda.TooManyRequestsException"],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "Next": "HasMoreStackSets"
            },
            "Done": {
              "Type": "Succeed"
            }
          }
        }

  StartCleanupExecution:
    Type: Custom::StartStackSetsCleanupExecution
    Properties:
      ServiceToken: !GetAtt StarterFunction.Arn
      StateMachineArn: !Ref StackSetsCleanupStateMachine
      DestinationBucket: !Ref DestinationBucket
      StackSetsToScan: !Ref StackSetsToScan
      ExistingCleanupCSV: !Ref ExistingCleanupCSV
      Mode: !Ref Mode
      ResultsKeyPrefix: !Ref ResultsKeyPrefix
      CallAs: !Ref CallAs
      OperationWaitSeconds: !Ref OperationWaitSeconds
      ResourceNamePrefix: !Ref AWS::StackName
      Region: !Ref AWS::Region
      UrlSuffix: !Ref AWS::URLSuffix

Outputs:
  StateMachineArn:
    Description: State machine that performs the scan or execution workflow.
    Value: !Ref StackSetsCleanupStateMachine

  WorkerFunctionName:
    Description: Worker Lambda function name.
    Value: !Ref WorkerFunction

  StarterFunctionName:
    Description: Starter Lambda function name used by the custom resource.
    Value: !Ref StarterFunction

  ResultsPrefix:
    Description: S3 prefix where run folders, CSV files, and work JSON files are written.
    Value: !Sub s3://${DestinationBucket}/${ResultsKeyPrefix}/

  LastStartedExecutionArn:
    Description: The Step Functions execution ARN started by this stack create or update.
    Value: !GetAtt StartCleanupExecution.ExecutionArn

  LatestScanResults:
    Description: HTTPS S3 object URL for the latest scan-results.csv generated by this stack. Empty when the stack is not run in ScanningMode.
    Value: !GetAtt StartCleanupExecution.LatestScanResults
